In [25]:
import numpy as np

In [26]:
import get_data

In [86]:
Preg_df = get_data.ReadFemPreg()
Preg_df.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [88]:
list_resp

Index(['caseid', 'rscrinf', 'rdormres', 'rostscrn', 'rscreenhisp',
       'rscreenrace', 'age_a', 'age_r', 'cmbirth', 'agescrn',
       ...
       'pubassis_i', 'basewgt', 'adj_mod_basewgt', 'finalwgt', 'secu_r',
       'sest', 'cmintvw', 'cmlstyr', 'screentime', 'intvlngth'],
      dtype='object', length=3087)

###   Variables 
   
   caseid is the integer ID of the respondent.

    wksgest is the integer duration of the pregnancy in weeks.

    outcome is an integer code for the outcome of the pregnancy. The code 1 indicates a live birth.

    pregordr is a pregnancy serial number; for example, the code for a respondent’s first pregnancy is 1, for the second pregnancy is 2, and so on.

    birthord is a serial number for live births; the code for a respondent’s first child is 1, and so on. For outcomes other than live births, this field is blank.

    birthwgt_lb and birthwgt_oz contain the pounds and ounces parts of the birth weight of the baby.

    agepreg is the mother’s age at the end of the pregnancy.

    finalwgt is the statistical weight associated with the respondent. It is a floating-point value that indicates the number of people in the U.S. population this respondent represents.

In [89]:

Preg_df=Preg_df[['caseid', 'wksgest','outcome','pregordr','birthord','birthwgt_lb','birthwgt_oz','agepreg','finalwgt']]

In [90]:
len(Preg_df)

13593

In [93]:
Preg_df.head()

,caseid,wksgest,outcome,pregordr,birthord,birthwgt_lb,birthwgt_oz,agepreg,finalwgt
0,1,39.0,1,1,1.0,8.0,13.0,33.16,6448.271112
1,1,39.0,1,2,2.0,7.0,14.0,39.25,6448.271112
2,2,39.0,1,1,1.0,9.0,2.0,14.33,12999.542264
3,2,39.0,1,2,2.0,7.0,0.0,17.83,12999.542264
4,2,39.0,1,3,3.0,6.0,3.0,18.33,12999.542264

In [77]:
Preg_df=Preg_df.dropna()
len(Preg_df)

9004

### Question 1

###### count the number of live births.

In [94]:
outcome=Preg_df['outcome']
count=0
for i in outcome:
    if i==1:
        count = count+1
print("live_births are: %d" %count)

live_births are: 9148

### Question 2

###### Get live birth records into two groups, one for first babies and one for the others

In [95]:
preg_order=Preg_df['pregordr']
count=0
n_count =0
for i in range(len(Preg_df)):
    if Preg_df['pregordr'][i]==1 and Preg_df['outcome'][i] ==1 :
        count=count+1
    elif Preg_df['pregordr'][i]!=1 and Preg_df['outcome'][i] ==1:
            n_count = n_count+1
            
print("live_births that are first babies: %d" %count)
print("live_births others: %d" %n_count)

live_births that are first babies: 3368
live_births others: 5780

### Question 3

###### Compute the average pregnancy length (in weeks) for first babies and others. Is there a difference between the groups? How big is it?

In [117]:

period =[]
period2 =[]
for i in range(len(preg_order)):
    if Preg_df['pregordr'][i]==1 :
        period.append(Preg_df['wksgest'][i])
    else:
        period2.append(Preg_df['wksgest'][i])
period=np.asarray(period)
np.nanmean(period)
print("average pregnancy length for first baby: %f" %np.nanmean(period))

print("average pregnancy length for others: %f" %np.nanmean(period2))

average pregnancy length for first baby: 29.572244
average pregnancy length for others: 30.279224