###### compute the standard deviation of gestation time for first babies and others. Does it look like the spread is the same for the two groups

In [2]:
import get_data
import numpy as np

In [3]:
Preg_df = get_data.ReadFemPreg()

In [4]:
Preg_df.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [5]:
Preg_df=Preg_df[['caseid', 'wksgest','outcome','pregordr','birthord','birthwgt_lb','birthwgt_oz','agepreg','finalwgt']]

In [6]:
Preg_df.head()

,caseid,wksgest,outcome,pregordr,birthord,birthwgt_lb,birthwgt_oz,agepreg,finalwgt
0,1,39.0,1,1,1.0,8.0,13.0,33.16,6448.271112
1,1,39.0,1,2,2.0,7.0,14.0,39.25,6448.271112
2,2,39.0,1,1,1.0,9.0,2.0,14.33,12999.542264
3,2,39.0,1,2,2.0,7.0,0.0,17.83,12999.542264
4,2,39.0,1,3,3.0,6.0,3.0,18.33,12999.542264

In [28]:
first_bbies=Preg_df[Preg_df['pregordr']==1]

variance = np.nanvar(first_bbies['wksgest'])
std = np.sqrt(variance)
 
#OR 
std= np.nanstd(first_bbies['wksgest'])
std

print("First standard deviation: %f" %std)

First standard deviation: 13.968618

In [25]:
other_bbies=Preg_df[Preg_df['pregordr']!=1]
variance = np.nanvar(other_bbies['wksgest'])
std_o = np.sqrt(variance)
 
#OR 

std_o= np.nanstd(other_bbies['wksgest'])
std_o

print("other babies standard deviation: %f" %std_o)

other babies standard deviation: 13.583688

### Conclusion

###### The difference in standard deviation is not statistical significant